body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #4a4a4a;
    background-image: url('./assets/img/ciudad-futurista.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background: rgb(0, 100, 0, 0.8);
    ;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header p {
    margin: 0.5rem 0 0;
    font-size: 1.2rem;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

section {
    flex: 1;
    min-width: 300px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #e0f2e9;
    opacity: 0;
    animation: fadeInUp 0.8s ease-in-out forwards;
    animation-delay: 0.2s;
}

h2,
a {
    color: #3cb371;
}

#about-me,
#why-frontend,
#projects,
#experience,
#contact {
    display: flex;
    flex-direction: column;
}

.projects-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.project {
    flex: 1;
    min-width: 200px;
    padding: 1rem;
    border-radius: 8px;
    background: #f9f9f9;
    border: 1px solid #b5651d;
}

#contact {
    background: #f4f7f6;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#contact h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

#contact p {
    color: #666;
    margin-bottom: 20px;
}

#contact ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

#contact ul li {
    display: inline-block;
    margin: 0 10px;
}

#contact ul li a {
    color: #0073e6;
    text-decoration: none;
    font-size: 1.1rem;
}

#contact ul li a:hover {
    text-decoration: underline;
}


footer {
    background-color: #2e8b57;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 2%;
}


.hidden {
    display: none;
}

.footer-text p {
    font-size: 1rem;
    color: white;
}

.footer-iconTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #4CAF50;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem white;
}

.footer-iconTop a i {
    font-size: 2rem;
    color: white;
}

.hidden {
    display: none;
}

/* Saludo inicial */
#greeting-message {
    position: fixed;
    bottom: 10px;
    right: 10px;
    transform: translate(-50%, -10%);
    background-color: #2e8b57;
    padding: 1rem;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#greeting-message.hidden {
    opacity: 0;
}

#greeting-message:not(.hidden) {
    opacity: 1;
}

.typing {
    font-size: 2.5rem;
    color: white;
    border-right: 3px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 4s steps(30, end) forwards, blink-caret 0.75s step-end 4;
    animation-fill-mode: forwards;
}

.typing-delay {
    font-size: 1.25rem;
    color: white;
    border-right: 3px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 6s steps(30, end) forwards, blink-caret 0.75s step-end 4;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

/* Animaciones */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}


@keyframes disappear-caret {
    to {
        visibility: hidden;
    }
}


.typing::after {
    content: '';
    animation: disappear-caret 0s 4s forwards;
}

.typing-delay::after {
    content: '';
    animation: disappear-caret 0s 10s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Ocultar saludo en pantallas pequeñas */
@media (width < 600px) {
    #greeting-message {
        display: none;
    }
}

/* Ocultar escritura con parpadeo */
@media (width < 600px) {
    .typing {
        font-size: 1.5rem;
    }

    .typing-delay{
        font-size: 0.75rem;
    }
}